.header-icon {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: #f2f5fa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in;
  
  &:hover {
    background-color: #dce3f0;
  }
}

.header-icon--new {
  position: relative;
  
  &::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  //margin-bottom: 8px;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ff5e5e;
  border: #fff solid 2px;
}
}

