%round {
    width: 4px;
    height: 4px;
    background: #a0a9b2;
    border-radius: 50%; 
}


.icon-show-more {
  position: relative;
  
  @extend %round;
  
  &::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    @extend %round;
  }
  
  &::after {
    position: absolute;
    content: "";
    bottom: -8px;
    left: 0;
     @extend %round;
  }
}